
$dark-blue: #030D1E;
$blue: #162031;
$white: #FCFAFA;
$light-gray: #E2E2E2;
$purple: #8C1CC0;
$orange: #ED9F36;

@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";


