@use "custom" as *;
/* Your styles go here */
@use "./componets/nav.scss";
@use "./componets/intro.scss";
@use "./componets/lastest.scss";
@use "./componets/project.scss";



//UI
@use "./ui/video.scss";
@use "./ui/header.scss";





:root {
  box-sizing: border-box;
  font-size: 16px;
}

*, ::after, ::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: $white
}

body {
  background-color: $dark-blue;
  //position: relative;  
}

